.templete {
    height: 100vh;
    background-color: rgb(64, 205, 230);
    padding-top: 25px;
    margin: 0 auto;
    max-width: 520px;
}

.title {
    text-align: center;
    margin: auto;
    font-size: 35px;
    margin-bottom: 20px;
}

.info {
    text-align: center;
    margin: auto;
    font-size: 20px;
    margin-bottom: 50px;
}

.children {
    text-align: center;
    padding-bottom: 50px;
}

